.hero-text{
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
}

.hero-text h1 {
  
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
}



.hero-text p{
  margin-left: 5rem;
  color: #BCBCBC;
  width: 90vh;
  font-size: 1.25rem;
}

.button-s {
  margin: 3.125rem 0 0 7.5rem;
}