.hero-text{
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

.hero-text h1 {
  
  color: white;
  font-weight: 600;
  font-size: 40px;
}



.hero-text p{
  margin-left: 80px;
  color: #BCBCBC;
  width: 90vh;
  font-size: 20px;
}

.button-s {
  margin: 50px 0px 0px 120px;
}