.styled-card {
  box-shadow: 0 0 0.6rem ;
  border: 1px solid #ffffff;
  border-radius: 2.3rem  0 2.3rem 0;
  width: 25rem;
  height: 31.5rem;
  text-align: center;
  padding: 0.9rem 1.9rem;
  gap: 1.25rem;

}

.styled-card img {
  height: 14.4rem;
  width: 24rem;
}

.styled-card h2 {
  font-size: 1.1rem;

}

.styled-card p {
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 1.9rem;
}





.styled-card a {
  text-decoration: none;
  color: white;
  border: 1px solid #c8c8c8;
  font-weight: 200;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px;
}

.styled-card a:hover{
  
  cursor: pointer;
  box-shadow: 0 0 10px ;
  transform: translateY(-6px);
}




