.tec-title h1 {
  margin: 5rem 0 5rem 0;
}


.tec-grid{
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem 0.31rem;
}

.tec-grid img {
  height: 6.25rem;
  box-shadow: 0 0 0.625rem ;
  border: 0.063rem solid #ffffff;
  border-radius: 2.31rem  0 2.31rem 0;
  text-align: center;
  padding: 1.875rem;
  cursor: pointer;
 
}

.tec-grid img:hover {
  transform: translateY(-5px);
  
}
.tec-grid a {
  text-decoration: none;
}


