@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  background-color:#0F1624;
}

a {
  text-decoration: none;

}

/* MAIN COLOR*/

.primary-background {
  background-color: #0C70F2;
}

.primary-color {
  color: #0C70F2;
}

.secondary-background {
  background-color: #1D1D1D;
}

.secondary-color {
  color: #1D1D1D;
}

.tertiary-background {
  background-color: #F6F6F6;
}

.tertiary-color {
  color: #F6F6F6;
}

.gray-1-color {
  color: #4D5053;
}

/*FORM*/
.form-input {
  border: none;
  border-bottom: 1px solid #292F36;
  color: #292F36;
  font-size: 22px;
  font-family: "Jost", sans-serif;
  padding: 0 0 13px 0;
  outline: none;
  width: 100%;
}

.form-input::placeholder{
  color: #292F36;
  opacity: 1;
}



p {
  line-height: 150%;
}

.txt-center{
  text-align: center;
}


/*GRID*/

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
}

.al-center{
  align-items: center;
}

.al-end{
  align-items: end;
}

.d-flex{
  display: flex;

}

.fd-column{
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}
.jc-end {
  justify-content: end;
}

.jc-space-b {
  justify-content: space-between;
}

@media(max-width: 768px) {
  .container{
    width: 100%;
  }
  .mobile-fd-column{
    flex-direction: column;
  }

  .tec-grid{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-grid{
  
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem 1.9rem;
  }



  nav {
    margin: 2rem 2rem 2rem 1rem;
  }

  nav a {
    margin: 0 0 0 0.8rem;
    font-size: 1rem;
  
  }

  #headerInverso{
    flex-direction: column-reverse;
    align-items: start;
  }

  .icons {
    width: 30%;
    margin-left: 2rem;
    gap: 0rem 1rem;
  }


 

  footer {

    align-items: center;
    border-top: 0.064rem solid #333;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .hero-text h1 {
  
    font-size: 2rem;
  }
  
  
  
  .hero-text p{
    margin-left: 0;
    width: 50vh;
    font-size: 1rem;
  }
  
  .button-s {
    margin: 0rem 0 0 0rem;
  }


  .styled-card {
    width: 17rem;
    height: 34rem;
  }
  
.styled-card img {
  height: 10rem;
  width: 16rem;
}

.styled-card a {
 
  border: 1px solid #c8c8c8;
  font-weight: 200;
  font-size: 0.8rem;
  border-radius: 30px;
  padding: 0.5rem;
}
}

